*{
margin:0;
padding:0;
text-decoration:none;
list-style:none;
}

body{
background:#ab123c;
}

.container{
background:#fff;
width:90%;
margin:2% auto;
border-radius:10px;
padding:2%;
}

button{
cursor:pointer;
width:48%;
float:left;
padding:1%;
margin:1%;
background:#ab123c;
border:1px solid #ab123c;
border-radius:10px;
color:#FFF;
font-weight:bold;
}

#list button{
width:98%;
}

#add-container{
width:80%;
clear:both;
padding:1%;
}

#list-container{
display:none;
clear:both;
width:96%;
margin:1%;
padding:1%;
border-radius:10px;
background:#ab123c;
color:#fff;
}

.message{
text-align:center;
padding:1%;
margin:1%;
width:96%;
clear:both;
border-radius:10px;
font-weight:bold;
}

.no-todo{
display:none;
background:pink;
color:#ab123c;
}

.have-todo{
display:none;
background:#dd0000;
}

.text-task {
width:46%;
padding:1%;
margin-bottom:1%;
float:left;
border-radius:10px;	
border:1px solid #ab123c;
}

.add-button{
clear:both;
margin:0;
}

.deleted{
display:none;
background:green;
}

.added{
display:none;
clear:both;
width:120%;
background:green;
margin:11% 0 0 0%;
}


.delete-anchor{
float:right;
color:#fff;
}

footer{
border-top:1px dotted #ab123c;
margin-top:20%;
clear:both;
padding:1%;
text-align:center;
margin-bottom:2%;
}
